#Beta {
    backdrop-filter: blur(4px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(180%) !important;
    background-color: rgba(255, 150, 0, 0.4) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 150, 0, 1) !important;
    padding-top: 7px !important;
    font-weight: bolder;
}

#homepage {
    background: url("https://github.com/KerimCan05/merkur-artadotheme/blob/main/images/merkur.png?raw=true") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    backdrop-filter: blur(4px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(180%) !important;
    background-color: rgba(255, 150, 0, 0.4) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 150, 0, 1) !important;
    padding-top: 3px !important;
    font-weight: bolder;
    color: #FFFFFF !important;
}

.donate-button {

    backdrop-filter: blur(4px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(180%) !important;
    background-color: rgba(255, 150, 0, 0.4) !important;
    color: white;
    border: 1px solid rgba(255, 150, 0, 1) !important;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px !important;
}

#autocomplete-list {
    backdrop-filter: blur(4px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(180%) !important;
    background-color: rgba(255, 150, 0, 0.4) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 150, 0, 1) !important;
}

#autocomplete-list li:hover {
    background-color: none !important;
    border-right: 1px solid #5c5c5c !important;
    translation: 0.5s !important;
}

.offcanvas {
    backdrop-filter: blur(4px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(180%) !important;
    background-color: rgba(255, 150, 0, 0.4) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 150, 0, 1) !important;
}

.offcanvas .btn-outline-success {
    backdrop-filter: blur(4px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(180%) !important;
    background-color: rgba(255, 150, 0, 0.4) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 150, 0, 1) !important;
    padding-top: 3px !important;
    font-weight: bolder;
    color: #FFFFFF !important;
}

.form-select {
    backdrop-filter: blur(4px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(4px) saturate(180%) !important;
    background-color: rgba(255, 150, 0, 0.4) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 150, 0, 1) !important;
    padding-top: 3px !important;
    font-weight: bolder;
    color: #FFFFFF !important;
}

.offcanvas #Label7,
#Label8,
#Label0,
#Label9 {
    color: #FFFFFF !important;
}

.fontlu {
    margin-bottom: 13px !important;
}

#manifest {
    text-align: center !important;
}

#beta_text {
    color: #FFFFFF !important;
}

#features .max-sm\:px-10 {
    backdrop-filter: blur(20px);
}

#form1 .middle .items-center {
    transform: translatex(0px) translatey(0px);
}

#searchbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 200px;
    background-color: rgba(2, 2, 2, 0.4) !important;
}


#searchinput {
    background-color: transparent;
    height: 50px;
}


#searchbar .flex {
    background-color: transparent;
}


#searchbutton {
    color: transparent;
    background-color: transparent;
}

#mic-button {
    color: transparent;
    background-color: transparent;
}

#form1 .top .offcanvas-backdrop {
    transform: translatex(0px) translatey(0px);
}

@media (min-width:600px) {
    #searchbar {
        margin-top: 100px;
    }
}

#features .flex-wrap {
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

#features .max-sm\:px-10 {
    color: #ffffff;
    transform: translatex(0px) translatey(0px) !important;
}

#features .flex-wrap {
    color: #ffffff;
}

#offcanvasRight .offcanvas-body {
    color: #ffffff;
}
